body {
	background-image:url('back.jpg');
	background-size: cover;
}

#nav {
	text-transform: uppercase;
	text-align: center;
}

#nav ul {
	display: inline-block;
}

#nav li {
	list-style: none;
	display: inline;
}
#nav a {
	background: transparent;
	text-decoration: none;
	color: yellow;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 3px;
	margin: 10px;
}

#nav a:hover {
	background: blue;
	border-radius: 8px;
	transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
}

#nav a.active {
	background: yellow;
	color: blue;
	border-radius: 8px;
	font-weight: bold;
}

#nav ul li.recdrop {
	display: inline-block;
}

#nav .recdropcnt {
	display:none;
	position: absolute;
	background-color: transparent;
}

#nav .recdropcnt a {
	display: block;
	text-decoration: none;
}

#nav .recdrop:hover .recdropcnt {
	display: block;
}
.button {
	background-color: Blue;
	border: 2px solid yellow;
	color: yellow;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	cursor: pointer;
}
.button:hover {
	background-color: yellow;
	color: blue;
	border: 2px solid blue;
}